.search-container {
	@media #{$sm},#{$lg},#{$md} {
		@include flex-center(column, center, space-around);
		flex: 0.39;
		width: 100%;
		height: 100%;
		margin: 1.7rem;
	}
}
.search-bar {
	@include flex-center(row, center, space-around);
	@media #{$sm} {
		min-width: 60%;
	}
	@media #{$lg} {
		min-width: 60%;
	}
	@media #{$sm},#{$lg},#{$md} {
		min-height: 40px;
		width: 100%;
		padding-top: 15px;
		position: absolute;
		top: 10vh;
	}
}
.search-input {
	@include search-input;
}
.search-button {
	@include search-button;
}
