.weather-icon, .weather-icon-PM, .weather-icon-AM {
  position: absolute;
  right: 0;
  top: 0;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: "Assistant", sans-serif;
}

:root {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.container, .light, .dark {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

@media (min-width: 0px) {
  .container, .light, .dark {
    height: 200vh;
  }
}

@media (min-width: 460px) {
  .container, .light, .dark {
    height: 200vh;
  }
}

@media (min-width: 720px) {
  .container, .light, .dark {
    font-size: 2rem;
    height: 150vh;
  }
}

@media (min-width: 960px) {
  .container, .light, .dark {
    font-size: 2rem;
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .container, .light, .dark {
    font-size: 2rem;
    height: 100vh;
  }
}

.light {
  background: linear-gradient(33deg, #f7f7f7, #43a8fa);
  color: black;
}

.light * > a {
  color: black;
}

.light .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-size: 600%;
  -webkit-background-clip: text;
  color: transparent;
  background-position: right;
  background-image: linear-gradient(45deg, black, grey);
  -webkit-animation: backgroundAnimation 5s 1s infinite alternate;
          animation: backgroundAnimation 5s 1s infinite alternate;
}

.light button {
  color: black;
  cursor: pointer;
}

.dark {
  background: linear-gradient(33deg, #121317, #323b42);
}

.dark .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-size: 600%;
  -webkit-background-clip: text;
  color: transparent;
  background-position: right;
  background-image: linear-gradient(45deg, gold, white);
  -webkit-animation: backgroundAnimation 5s 1s infinite alternate;
          animation: backgroundAnimation 5s 1s infinite alternate;
}

.dark * > a,
.dark button {
  color: white;
  cursor: pointer;
}

@-webkit-keyframes backgroundAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.text-container {
  width: 10%;
}

.navbar-container {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10vh;
  width: 100%;
  z-index: 10;
}

.navbar-container h1 {
  width: 200px;
  text-align: end;
}

.navbar-container a,
.navbar-container h1 {
  color: white;
}

@media (min-width: 0px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 460px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.navbar-container .navbar-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 25px;
  width: 100%;
}

.navbar-container .navbar-li {
  margin: 0.5rem;
}

.navbar-container .toggle-container-dark {
  background: linear-gradient(33deg, #121317, #323b42);
  max-height: 50px;
  font-size: 3rem;
}

.navbar-container .toggle-container-dark .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-size: 600%;
  -webkit-background-clip: text;
  color: transparent;
  background-position: right;
  background-image: linear-gradient(45deg, gold, white);
  -webkit-animation: backgroundAnimation 5s 1s infinite alternate;
          animation: backgroundAnimation 5s 1s infinite alternate;
}

.navbar-container .toggle-container-dark * > a,
.navbar-container .toggle-container-dark button {
  color: white;
  cursor: pointer;
}

.navbar-container .toggle-container-light {
  background: linear-gradient(33deg, #f7f7f7, #43a8fa);
  color: black;
  font-size: 3rem;
  max-height: 50px;
}

.navbar-container .toggle-container-light * > a {
  color: black;
}

.navbar-container .toggle-container-light .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-size: 600%;
  -webkit-background-clip: text;
  color: transparent;
  background-position: right;
  background-image: linear-gradient(45deg, black, grey);
  -webkit-animation: backgroundAnimation 5s 1s infinite alternate;
          animation: backgroundAnimation 5s 1s infinite alternate;
}

.navbar-container .toggle-container-light button {
  color: black;
  cursor: pointer;
}

.weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
}

@media (min-width: 0px) {
  .weather-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 460px) {
  .weather-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 720px) {
  .weather-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
  }
}

@media (min-width: 960px) {
  .weather-container {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .weather-container {
    font-size: 2rem;
  }
}

@media (min-width: 0px) {
  .forecasts-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 460px) {
  .forecasts-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 720px) {
  .forecasts-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
  }
}

@media (min-width: 960px) {
  .forecasts-map-container {
    font-size: 2rem;
  }
}

.favorite-container {
  position: relative;
  height: calc(100vh - 60px);
}

.forecasts-map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@keyframes backgroundAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.text-container {
  width: 10%;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.39;
      -ms-flex: 0.39;
          flex: 0.39;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

.search-container h3 {
  text-align: center;
}

.search-container .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.7rem;
  width: 100%;
  padding-top: 15px;
}

.search-container .search-bar .search-input {
  background-size: black;
  width: 50%;
  min-width: 150px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0px 25px;
  border-radius: 25px 0 0 25px;
}

.search-container .search-bar .search-button {
  position: relative;
  width: 10%;
  min-width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffc107;
  color: #fff;
}

.forecasts-map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
}

@media (min-width: 0px) {
  .forecasts-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
}

@media (min-width: 460px) {
  .forecasts-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 720px) {
  .forecasts-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 960px) {
  .forecasts-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .forecasts-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.forecasts-map-container .favoriteCard {
  width: 30%;
  border: 1px solid black;
  max-height: 300px;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.forecasts-map-container .favoriteCard * > div {
  height: 7rem;
}

@media (min-width: 0px) {
  .forecasts-map-container .favoriteCard {
    width: 70%;
  }
}

@media (min-width: 460px) {
  .forecasts-map-container .favoriteCard {
    width: 70%;
  }
}

@media (min-width: 720px) {
  .forecasts-map-container .favoriteCard {
    width: 30%;
  }
}

@media (min-width: 960px) {
  .forecasts-map-container .favoriteCard {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .forecasts-map-container .favoriteCard {
    width: 100%;
  }
}

.Footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

.Footer-links {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  border-bottom: 1px solid gray;
  padding: 25px;
  width: 100%;
  -ms-grid-columns: 100px (1fr)[4];
      grid-template-columns: 100px repeat(4, 1fr);
}

.footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: white;
  list-style: none;
  cursor: pointer;
}

.footer-ul > li {
  font-weight: 100;
  height: 20px;
  font-size: medium;
}

.olympic-info {
  width: 80%;
}

.olympic-info > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  list-style: none;
  cursor: pointer;
  width: 100%;
}

.social-links {
  width: 100%;
  z-index: 10;
  height: 30%;
  background: rgba(37, 37, 37, 0.589);
}

.social-links > div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.social-links > div > a {
  font-size: 25px;
  color: white;
}

.login-container {
  position: relative;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1603190287605-e6ade32fa852?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=80");
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.ForecastsCard-container {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (min-width: 0px) {
  .ForecastsCard-container {
    width: 80%;
  }
}

@media (min-width: 460px) {
  .ForecastsCard-container {
    width: 80%;
  }
}

@media (min-width: 720px) {
  .ForecastsCard-container {
    width: 60%;
  }
}

@media (min-width: 960px) {
  .ForecastsCard-container {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .ForecastsCard-container {
    width: 100%;
  }
}

.ForecastsCard {
  width: 80%;
  min-height: 170px;
  max-width: 350px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 10px 10px 10px 10px black;
          box-shadow: 10px 10px 10px 10px black;
}

.weather-icon-PM {
  color: black;
}

.weather-icon-AM {
  color: yellow;
}

.card-content {
  width: 60%;
  font-family: "Assistant";
}

.night_bg {
  background: #0f2129;
}

.frosty_bg {
  background: #29386f;
}

.sunny_bg {
  background: #ffbd3f;
}

.custom-shape-divider-bottom-1637765530 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637765530 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 100px;
}
/*# sourceMappingURL=style.css.map */