.weather-icon, .weather-icon-PM, .weather-icon-AM {
  position: absolute;
  right: 0;
  top: 0;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: "Assistant", sans-serif;
}

:root {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 0px) and (max-width: 460px) {
  :root {
    font-size: 7px;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  :root {
    font-size: 8px;
  }
}

@media (min-width: 721px) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .container, .light, .dark {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .container, .light, .dark {
    height: 250vh;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .container, .light, .dark {
    height: 100vh;
  }
}

@media (min-width: 721px) {
  .container, .light, .dark {
    height: 150vh;
  }
}

.light {
  background: linear-gradient(33deg, #f7f7f7, #43a8fa);
  color: black;
}

.light * > * {
  color: black;
}

.light .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-size: 600%;
  -webkit-background-clip: text;
  color: transparent;
  background-position: right;
  background-image: linear-gradient(45deg, black, grey);
  -webkit-animation: backgroundAnimation 5s 1s infinite alternate;
          animation: backgroundAnimation 5s 1s infinite alternate;
}

.light button {
  color: black;
  cursor: pointer;
}

.light nav {
  background-color: white;
}

.dark {
  background: linear-gradient(33deg, #121317, #323b42);
}

.dark .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-size: 600%;
  -webkit-background-clip: text;
  color: transparent;
  background-position: right;
  background-image: linear-gradient(45deg, gold, white);
  -webkit-animation: backgroundAnimation 5s 1s infinite alternate;
          animation: backgroundAnimation 5s 1s infinite alternate;
}

.dark * > a,
.dark button {
  color: white;
  cursor: pointer;
}

.dark nav {
  background-color: black;
}

@-webkit-keyframes backgroundAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .text-container {
    width: 10%;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .text-container {
    width: 100%;
  }
}

.navbar-container {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .navbar-container {
    font-size: 2rem;
    height: 10vh;
    width: 100%;
    z-index: 10;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .navbar-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .navbar-li {
    margin: 0.5rem;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .toggle-container-dark {
    background: linear-gradient(33deg, #121317, #323b42);
    max-height: 50px;
    font-size: 3rem;
  }
  .toggle-container-dark .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 700;
    background-size: 600%;
    -webkit-background-clip: text;
    color: transparent;
    background-position: right;
    background-image: linear-gradient(45deg, gold, white);
    -webkit-animation: backgroundAnimation 5s 1s infinite alternate;
            animation: backgroundAnimation 5s 1s infinite alternate;
  }
  .toggle-container-dark * > a,
  .toggle-container-dark button {
    color: white;
    cursor: pointer;
  }
  .toggle-container-dark nav {
    background-color: black;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .toggle-container-light {
    background: linear-gradient(33deg, #f7f7f7, #43a8fa);
    color: black;
    font-size: 3rem;
    max-height: 50px;
  }
  .toggle-container-light * > * {
    color: black;
  }
  .toggle-container-light .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 700;
    background-size: 600%;
    -webkit-background-clip: text;
    color: transparent;
    background-position: right;
    background-image: linear-gradient(45deg, black, grey);
    -webkit-animation: backgroundAnimation 5s 1s infinite alternate;
            animation: backgroundAnimation 5s 1s infinite alternate;
  }
  .toggle-container-light button {
    color: black;
    cursor: pointer;
  }
  .toggle-container-light nav {
    background-color: white;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .weather-container {
    width: 100%;
    height: 32%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .weather-container {
    position: relative;
    height: 80%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .weather-container {
    position: relative;
    height: 85%;
  }
}

@media (min-width: 721px) {
  .weather-container {
    position: relative;
    height: 85%;
    margin-top: 10vh;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .forecasts-map-container-weather {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90vw;
    margin: auto;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .forecasts-map-container-weather {
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .forecasts-map-container-weather {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .favorite-container {
    height: 100%;
    position: relative;
  }
}

@media (min-width: 721px) {
  .favorite-container {
    overflow-y: hidden;
    height: 100%;
    width: 90vw;
    margin: auto;
  }
  .favorite-container .header {
    margin-top: 10vh;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .forecasts-map-container-favorite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media (min-width: 721px) {
  .forecasts-map-container-favorite {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .favoriteCard {
    width: 70%;
    height: 10%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .favoriteCard {
    width: 80%;
    height: 10%;
  }
}

@media (min-width: 721px) {
  .favoriteCard {
    width: 30%;
    height: 20%;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .text-container {
    width: 10%;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .text-container {
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0.39;
        -ms-flex: 0.39;
            flex: 0.39;
    width: 100%;
    margin: 1.7rem;
  }
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 0px) and (max-width: 460px) {
  .search-bar {
    min-width: 60%;
  }
}

@media (min-width: 721px) {
  .search-bar {
    min-width: 60%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .search-bar {
    min-height: 40px;
    width: 100%;
    padding-top: 15px;
  }
}

.search-input {
  width: 30%;
  min-width: 200px;
  max-height: 75px;
  background-size: black;
  border: none;
  outline: none;
  padding: 0px 25px;
  border-radius: 25px 0 0 25px;
  font-size: 2rem;
}

.search-button {
  position: relative;
  width: 10%;
  min-width: 100px;
  max-height: 75px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffc107;
  color: #fff;
  font-size: 2rem;
}

@media (min-width: 721px) {
  .Footer-container {
    font-size: 3rem;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .Footer-container {
    font-size: 5rem;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .Footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .Footer-links {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    border-bottom: 1px solid gray;
    padding: 25px;
    width: 100%;
    -ms-grid-columns: 100px (1fr)[4];
        grid-template-columns: 100px repeat(4, 1fr);
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .footer-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    color: white;
    list-style: none;
    cursor: pointer;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .footer-ul > li {
    font-weight: 100;
    height: 20px;
    font-size: medium;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .social-info {
    width: 80%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .social-info > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: white;
    list-style: none;
    cursor: pointer;
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .social-links {
    width: 100%;
    z-index: 10;
    height: 30%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .social-links > div {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .social-links > div > a {
    font-size: 25px;
    color: white;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .login-container {
    position: relative;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1603190287605-e6ade32fa852?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=80");
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .ForecastsCard-container {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 721px) {
  .ForecastsCard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 27%;
    height: 22%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .ForecastsCard-container {
    height: 25%;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  .ForecastsCard {
    width: 80%;
    height: 50%;
  }
}

@media (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .ForecastsCard {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .ForecastsCard {
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 10px 10px 10px 10px black;
            box-shadow: 10px 10px 10px 10px black;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .weather-icon-PM {
    color: black;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .weather-icon-AM {
    color: yellow;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .card-content {
    width: 60%;
    font-family: "Assistant";
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .night_bg {
    background: #0f2129;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .frosty_bg {
    background: #29386f;
  }
}

@media (min-width: 0px) and (max-width: 460px), (min-width: 721px), (min-width: 461px) and (max-width: 720px) {
  .sunny_bg {
    background: #ffbd3f;
  }
}

.custom-shape-divider-bottom-1637765530 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637765530 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 100px;
}
/*# sourceMappingURL=style.css.map */