* {
	text-decoration: none;
	list-style: none;
	font-family: "Assistant", sans-serif;
}
:root {
	margin: 0;
	padding: 0;
	font-size: $root-font-size;
	text-decoration: none;
	box-sizing: border-box;
}

.container {
	@media #{$sm},#{$lg},#{$md} {
		overflow-x: hidden;
		width: 100%;
		position: relative;
	}
	@media #{$sm} {
		height: 250vh;
	}
	@media #{$md} {
		height: 100vh;
	}
	@media #{$lg} {
		height: 150vh;
	}
}
.light {
	@extend .container;
	@include light;
}
.dark {
	@extend .container;
	@include dark;
}
