* {
	text-decoration: none;
	list-style: none;
	font-family: "Assistant", sans-serif;
}
:root {
	margin: 0;
	padding: 0;
	font-size: $root-font-size;
	text-decoration: none;
	box-sizing: border-box;
	overflow-x: hidden;
}

.container {
	@media #{$sm} {
		width: 100%;
		overflow-x: hidden;
		height: 250vh;
	}
}
.light {
	@extend .container;
	@include light;
}
.dark {
	@extend .container;
	@include dark;
}
