body {
	font-family: "Assistant", sans-serif;
}
:root {
	margin: 0;
	padding: 0;
	font-size: $root-font-size;
	text-decoration: none;
	box-sizing: border-box;
	overflow-x: hidden;
}

.container {
	.navbar-link {
		text-decoration: none;
	}
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 0.3rem;
	font-size: 1.5rem;

	@include base {
		height: 260vh;
	}
	@include sm {
		height: 260vh;
	}
	@include md {
		font-size: 2rem;

		height: 200vh;
	}

	@include lg {
		font-size: 2rem;

		height: 200vh;
	}

	@include xl {
		font-size: 2rem;

		height: 100vh;
	}
	ul {
		list-style: none;
	}
}
.light {
	@extend .container;
	@include light;
}
.dark {
	@extend .container;
	@include dark;
}
.layout-container {
	display: flex;
	width: 70%;
	justify-content: space-between;
}
