.favorite-container {
	@media #{$sm} {
		height: 100%;
		position: relative;
	}
	@media #{$lg} {
		.header {
			margin-top: 10vh;
		}
		overflow-y: hidden;
		height: 100%;
		width: 90vw;
		margin: auto;
	}
}

.forecasts-map-container-favorite {
	@media #{$sm} {
		@include flex-center(column, space-around);
		height: 100%;
	}
	@media #{$lg} {
		height: 100%;
		@include flex-center(row, space-between, flex-start);
		flex-wrap: wrap;
	}
}

.favoriteCard {
	@media #{$sm} {
		width: 70%;
		height: 10%;
	}
	@media #{$md} {
		width: 80%;
		height: 10%;
	}
	@media #{$lg} {
		width: 30%;
		height: 20%;
	}
}
