.Footer-container {
	@media #{$lg} {
		font-size: 3rem;
	}
	@media #{$sm} {
		font-size: 1rem;
	}
	@media #{$sm},#{$lg},#{$md} {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}
.Footer-links {
	@media #{$lg} {
	}
	@media #{$sm} {
	}
	@media #{$sm},#{$lg},#{$md} {
		display: grid;
		gap: 10px;
		border-bottom: 1px solid gray;
		padding: 25px;
		width: 100%;
		grid-template-columns: 100px repeat(4, 1fr);
	}
}
.footer-ul {
	@media #{$lg} {
	}
	@media #{$sm} {
	}
	@media #{$sm},#{$lg},#{$md} {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;
		color: white;
		list-style: none;
		cursor: pointer;
	}
}
.footer-ul > li {
	@media #{$lg} {
	}
	@media #{$sm} {
	}
	@media #{$sm},#{$lg},#{$md} {
		font-weight: 100;
		height: 20px;
		font-size: medium;
	}
}
.olympic-info {
	@media #{$lg} {
	}
	@media #{$sm} {
	}
	@media #{$sm},#{$lg},#{$md} {
		width: 80%;
	}
}
.olympic-info > ul {
	@media #{$lg} {
	}
	@media #{$sm} {
	}
	@media #{$sm},#{$lg},#{$md} {
		display: flex;
		justify-content: space-around;
		color: white;
		list-style: none;
		cursor: pointer;
		width: 100%;
	}
}
.social-links {
	@media #{$lg} {
	}
	@media #{$sm} {
	}
	@media #{$sm},#{$lg},#{$md} {
		width: 100%;
		z-index: 10;
		height: 30%;
	}
}
.social-links > div {
	@media #{$lg} {
	}
	@media #{$sm} {
	}
	@media #{$sm},#{$lg},#{$md} {
		margin: auto;
		display: flex;
		justify-content: space-around;
		width: 40%;
	}
}
.social-links > div > a {
	@media #{$lg} {
	}
	@media #{$sm} {
	}
	@media #{$sm},#{$lg},#{$md} {
		font-size: 25px;
		color: white;
	}
}
