.ForecastsCard-container {
	@media #{$sm} {
		width: 100%;
		height: 40%;
		@include flex-center(column, space-around, center);
	}
	@media #{$lg} {
		@include flex-center(row, space-around, center);
		width: 27%;
		height: 22%;
	}
	@media #{$md} {
		height: 25%;
	}
}
.ForecastsCard {
	@media #{$sm} {
		width: 80%;
		height: 50%;
	}
	@media #{$lg},#{$md} {
		width: 100%;
		height: 100%;
	}
	@media #{$sm},#{$lg},#{$md} {
		border-radius: 10px;
		position: relative;
		box-shadow: 10px 10px 10px 10px black;
	}
}

.weather-icon-PM {
	@extend .weather-icon;
	@media #{$sm},#{$lg},#{$md} {
		color: black;
	}
}
.weather-icon-AM {
	@extend .weather-icon;
	@media #{$sm},#{$lg},#{$md} {
		color: yellow;
	}
}
.card-content {
	@media #{$sm},#{$lg},#{$md} {
		width: 60%;
		font-family: "Assistant";
	}
}
.night_bg {
	@media #{$sm},#{$lg},#{$md} {
		background: #0f2129;
	}
}
.frosty_bg {
	@media #{$sm},#{$lg},#{$md} {
		background: #29386f;
	}
}
.sunny_bg {
	@media #{$sm},#{$lg},#{$md} {
		background: #ffbd3f;
	}
}
// curves
.custom-shape-divider-bottom-1637765530 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637765530 svg {
	position: relative;
	display: block;
	width: calc(160% + 1.3px);
	height: 100px;
}
