.ForecastsCard-container {
	max-width: 350px;
	@include base {
		width: 80%;
	}
	@include sm {
		width: 80%;
	}
	@include md {
		width: 60%;
	}

	@include lg {
		width: 40%;
	}

	@include xl {
		width: 100%;
	}
}
.ForecastsCard {
	width: 80%;
	min-height: 170px;
}
