.ForecastsCard-container {
	@media #{$sm} {
		width: 100%;
		height: 50%;
		@include flex-center(column, space-around, center);
	}
	@media #{$lg} {
		@include flex-center(row, space-around, center);
		width: 28%;
		height: 50%;
	}
}
.ForecastsCard {
	border-radius: 10px;
	position: relative;
	box-shadow: 10px 10px 10px 10px black;
	@media #{$sm} {
		width: 80%;
		height: 40%;
	}
	@media #{$lg} {
		width: 100%;
		height: 40%;
	}
}

.weather-icon-PM {
	@extend .weather-icon;
	color: black;
}
.weather-icon-AM {
	@extend .weather-icon;
	color: yellow;
}
.card-content {
	width: 60%;
	font-family: "Assistant";
}
.night_bg {
	background: #0f2129;
}
.frosty_bg {
	background: #29386f;
}
.sunny_bg {
	background: #ffbd3f;
}
.custom-shape-divider-bottom-1637765530 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637765530 svg {
	position: relative;
	display: block;
	width: calc(160% + 1.3px);
	height: 100px;
}
