@keyframes backgroundAnimation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
.text-container {
	@media #{$lg},#{$md} {
		width: 10%;
	}
	@media #{$sm} {
		width: 100%;
	}
}
