@mixin flex-center($dir: row, $ver-position: center, $horiz-position: center) {
	display: flex;
	justify-content: $ver-position;
	align-items: $horiz-position;
	flex-direction: $dir;
}

@mixin flex-scroll {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

@mixin headers($gradient) {
	display: flex;
	width: 100%;
	height: 52%;
	margin: 20px;
	text-align: center;
	font-weight: 700;
	background-size: 600%;
	-webkit-background-clip: text;
	color: transparent;
	background-position: right;
	background-image: $gradient;
	animation: backgroundAnimation 5s 1s infinite alternate;
}

.weather-icon {
	position: absolute;
	right: 0;
	top: 0;
}

@mixin light {
	background: $gradient-light;
	color: rgb(0, 0, 0);
	* > a {
		color: rgb(0, 0, 0);
	}
	.header {
		@include headers(linear-gradient(45deg, black, grey));
	}

	button {
		color: black;
		cursor: pointer;
	}
}
@mixin dark {
	background: $gradient-dark;
	.header {
		@include headers(linear-gradient(45deg, gold, white));
	}
	* > a,
	button {
		color: white;
		cursor: pointer;
	}
}
@mixin stickyNav {
	position: absolute;
	top: 0;
}
// media query
@mixin base {
	@media (min-width: map-get($break-points,"base")) {
		@content;
	}
}

@mixin sm {
	@media (min-width: map-get($break-points,"sm")) {
		@content;
	}
}

@mixin md {
	@media (min-width: map-get($break-points,"md")) {
		@content;
	}
}

@mixin lg {
	@media (min-width: map-get($break-points,"lg")) {
		@content;
	}
}

@mixin xl {
	@media (min-width: map-get($break-points,"xl")) {
		@content;
	}
}

@mixin bp($bp: 0) {
	@media (min-width: $bp) {
		@content;
	}
}
