.navbar-container {
	@include stickyNav;
	@include flex-center(row, space-around);
	@media #{$sm},#{$lg},#{$md} {
		font-size: 2rem;
		height: 10vh;
		width: 100%;
		z-index: 10;
	}
}
.navbar-ul {
	@media #{$sm},#{$lg},#{$md} {
		@include flex-center(row, flex-end);
		width: 50%;
	}
}
.navbar-li {
	@media #{$sm},#{$lg},#{$md} {
		margin: 0.5rem;
	}
}
.toggle-container-dark {
	@media #{$sm},#{$lg},#{$md} {
		@include dark;
		max-height: 50px;
		font-size: 3rem;
	}
}
.toggle-container-light {
	@media #{$sm},#{$lg},#{$md} {
		@include light;
		font-size: 3rem;
		max-height: 50px;
	}
}
