.navbar-container {
	@include stickyNav;
	@include flex-center(row, space-around);

	width: 100%;
	z-index: 10;
	display: flex;

	@include base {
		@include flex-center(row, space-evenly);
	}
	@include sm {
		@include flex-center(row, space-evenly);
	}
	@include xl {
		@include flex-center(row, space-around);
	}

	.navbar-ul {
		@include flex-center(row, space-around);
		.navbar-li {
			text-decoration: none;
			margin: 0.5rem;
		}
	}
	.toggle-container-dark {
		@include dark;
		max-height: 50px;
		font-size: 3rem;
	}
	.toggle-container-light {
		@include light;
		font-size: 3rem;
		max-height: 50px;
	}
}
