.search-container {
	@include flex-center(column, center, space-around);
	flex: 0.39;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
	h3 {
		text-align: center;
	}
	.search-bar {
		@include flex-center(row, center, space-around);
		margin: 1.7rem;
		width: 100%;
		padding-top: 15px;
		input[type="text"] {
			font-size: 2rem;
		}
		.search-input {
			background-size: black;
			width: 50%;
			min-width: 150px;
			height: 50px;
			border: none;
			outline: none;
			padding: 0px 25px;
			border-radius: 25px 0 0 25px;
		}
		.search-button {
			position: relative;
			width: 10%;
			min-width: 50px;
			height: 50px;
			border: none;
			outline: none;
			cursor: pointer;
			background-color: #ffc107;
			color: #fff;
		}
	}
}
