.weather-container {
	position: relative;
	@media #{$sm},#{$lg} {
		width: 100%;
		height: 100%;
	}
}
.forecasts-map-container-weather {
	@media #{$sm} {
		height: 39%;
		@include flex-scroll;
	}
	@media #{$lg} {
		height: 100%;
		@include flex-center(row, space-between, center);
		flex-wrap: wrap;
		width: 90vw;
		margin: auto;
	}
}
